<h2>Welcome to the profile of <%= @user.username.titleize %></h2>
<%= @user.towns.count %> <br>
<h2>Towns:</h2>
<% @towns.each do |town| %>
    <%= link_to town.id, town_path(town.id) %> <br>
<% end %>
<%= will_paginate @towns %>
Incoming: <br>
<% @incoming.each do |inc| %>
    From: <%= link_to inc.from_town, town_path(inc.from_town) %> To: <%= link_to inc.to_town, town_path(inc.to_town) %>
    Type: <%= if inc.move_type == false then "Support" else "Attack" end %>
    <div class="countdown" id=<%= inc.done_at %>></div>
<% end %>

Outgoing: <br>
<% @outgoing.each do |outg| %>
    From: <%= link_to outg.from_town, town_path(outg.from_town) %> To: <%= link_to outg.to_town, town_path(outg.to_town) %>
    Type: <%= if outg.move_type == false then "Support" else "Attack" end %>
    <div class="countdown" id=<%= outg.done_at %>></div>
<% end %>