<% @map.each_with_index do |tiles, row| %>
  <div class="map_row <%= row %>" id="<%= @x %>,<%= @y %>">
    <% tiles.each do |tile| %>
        <div class="map_tile" id="<%= tile.x %>,<%= tile.y %>">
          <% if tile.town %>
              <% if tile.town.user_id %>
                <% if tile.town.user_id == current_user.id %>
                  <%= link_to '<div class="town_user"></div>'.html_safe, town_path(tile.town.id) %>
                <% else %>
                      <%= link_to '<div class="town_enemy"></div>'.html_safe, town_path(tile.town.id) %>
                <% end %>
              <% else %>
                  <%= link_to '<div class="town_empty"></div>'.html_safe, town_path(tile.town.id) %>
              <% end %>
        <% end %>
        </div>
    <% end %>
  </div>
 <% end %>