<div class="row">
  <div class="col-sm-4">
<h2><%= @town.title %></h2>
<% if @town.user %>
    <h3>Owner: <%= @town.user.username.titleize %> <%= if @town.user.id == current_user.id then "(You!)" end %></h3>
    <% else %>
    <h3>Abandoned</h3>
<% end %>
<h3>Level: <%= @town.level %></h3>
<h3>X: <%= @town.x %> Y: <%= @town.y %> - <%= link_to 'Show on map', map_path(@town.x, @town.y) %></h3>
<p>
  <!--BELOW IS FOR ENEMY TOWN-->
  <% if @town.user != current_user %>
      <h2>Attack:</h2>
      <%= form_tag("/town/move", method: "POST") do %>
        <h4 id="user_id" townid=<%= @town.id %> userid=<%= current_user.id %>>From Town:</h4><div id="support_from_town"></div>
        Available troops: <div id="troop_numbers"></div>
        <h4>Amounts:</h4>
            <% @units.each do |unit| %>
                <%= label_tag unit.name, unit.name %>
                <%= number_field_tag 'units['+unit.name+']',nil, in: 1...100 %>
            <% end %>
          <%= submit_tag "Send Attack" %>

          <%= hidden_field_tag :move_type, '1' %>
          <%= hidden_field_tag :to_town_id, @town.id %>
          <%= hidden_field_tag :from_user, current_user.id %>
          <%= hidden_field_tag :to_user, @town.user.id %>
    <% end %>
        </div>
        <div class="col-sm-4">
          <h2>Map</h2>
          <div id="game_container">
            <button id="up_button">^</button>
            <button id="left_button"><</button>
            <button id="right_button">></button>
            <div id="game_map" mapstart="<%= @town.x %>,<%= @town.y %>" mapsize="12">
            </div>
            <button id="down_button">v</button>
          </div>
        </div>
  <% end %>

  <!--BELOW IS FOR TOWN OWNED BY THE USER ONLY-->
  <% if @town.user == current_user %>
      <%= form_for(@town) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.submit "Save Title", class: "btn btn-primary" %>
      <% end %>
    <h2>Troops</h2>
        <% if @town.population %>
          <% eval(@town.population).each do |key, value|  #Could be dangerous -- REMINDER %>
            <h4><%= key %>: </h4>
                <%= value %>
          <% end %>
        <% end %>
    <h2>Support with troops:</h2>
    <%= form_tag("/town/move", method: "POST") do %>
        <h4 id="user_id" townid=<%= @town.id %> userid=<%= current_user.id %>>From Town:</h4><div id="support_from_town"></div>
        Available troops: <div id="troop_numbers"></div>
        <h4>Amounts:</h4>
            <% @units.each do |unit| %>
                <%= label_tag unit.name, unit.name %>
                <%= number_field_tag 'units['+unit.name+']',nil, in: 1...100 %>
            <% end %>
            <%= submit_tag "Send Support" %>

            <%= hidden_field_tag :move_type, '0' %>
            <%= hidden_field_tag :to_town_id, @town.id %>
            <%= hidden_field_tag :from_user, current_user.id %>
            <%= hidden_field_tag :to_user, @town.user.id %>
    <% end %>

        </div>
        <div class="col-sm-4">
          <h2>Map</h2>
          <div id="game_container">
            <button id="up_button">^</button>
            <button id="left_button"><</button>
            <button id="right_button">></button>
            <div id="game_map" mapstart="<%= @town.x %>,<%= @town.y %>" mapsize="12">
            </div>
            <button id="down_button">v</button>
          </div>
        </div>
        <div class="col-sm-4">
    <h2>Queue:</h2>
    <% if @building %>
      <% @building.each do |inst| %>
            <div class="build">
              <%= inst.amount %>x <%= Unit.getUnitName(inst.unit) %><div class="countdown" id=<%= inst.done_at %>></div>
            </div>
      <% end %>
              <%= will_paginate @building %>
    <% end %>
    <h2>Incoming:</h2>
    <% @incoming.each do |inc| %>
      Type: <%= if inc.move_type == false then "Support" else "Attack" end %>
        <div class="countdown" id=<%= inc.done_at %>></div>
    <% end %>
    <h2>Build:</h2>
    Coins: <%= current_user.coins %> <br>
    Cost: 10 coins per 5x built
    <%= form_tag("/town/build", method: "POST") do %>
        <%= label_tag :amount, "5x" %>
        <%= number_field_tag :amount,nil, in: 1...(current_user.coins/10) %>
        <%= label_tag :type, "Type of troop" %>
        <%= collection_select(:unit, :id, @units, :id, :name) %>
        <%= submit_tag "Start building" %>


        <%= hidden_field_tag :town_id, @town.id %>
    <% end %>
    <% if current_user.coins >= 10 %>
      <h3>Quick Build:</h3>
        <div id="quick_build">
          <%= form_tag("/town/build", method: "POST", id:"quick_build_form") do %>
              <%= hidden_field_tag :amount, 1, id:"quick_value" %>
              <%= collection_select(:unit, :id, @units, :id, :name) %>
              <%= button_tag "Buy one", id:"quick_one", :type => 'button' %>
              <%= button_tag "Buy "+((current_user.coins/10)/2).to_s, id:"quick_half", value: ((current_user.coins/10)/2), :type => 'button' %>
              <%= button_tag "Buy "+(current_user.coins/10).to_s, id: "quick_all",value: (current_user.coins/10), :type => 'button' %>
              <%= hidden_field_tag :town_id, @town.id %>
          <% end %>
        </div>
    <% end %>
  </div>
  <% end %>
</p>



</div>